<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="messages">

    </div>
    <footer class="user-input">
        <form action="" method="post" id="send-message">
            <input type="text" name="get-message" id="user-input">
            <button type="submit">Send</button>
        </form>
    </footer>

    <script src="/chat/script.js"></script>
</body>

</html>
