<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coolest Chat Room Ever</title>
</head>

<body>
    <p>Hello sir or ma'am if you would like to use the 'Coolest Chat Room Ever' you will first need to create a username
        actually. Thank you for your compliance we hope you enjoy your time in the chat</p>

    <form action="" method="post" id="get-user-form">
        <label for="get-username"></label>
        <input type="text" name="get-username" id="get-username">
        <button type="submit">Enter Chat</button>
    </form>
    <script src="./script.js"></script>
</body>

</html>
